
@font-face {
    font-family: 'megrimfont';
    src: url('../fonts/Act_Of_Rejection.ttf');
}

.megrim-font {
    font-family: 'megrimfont';
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/static/Rubik-Bold.ttf');
}

.rubik-font {
    font-family: 'Rubik';
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/static/Rubik-Bold.ttf');
}

.rubik-font {
    font-family: 'Rubik';
}

@font-face {
    font-family: 'comic';
    src: url('../fonts/LDFComicSans.ttf');
}

.comic-font {
    font-family: 'comic';
}

@font-face {
    font-family: 'comic-caption';
    src: url('../fonts/Comic_Book.ttf');
}

.comic-font-caption {
    font-family: 'comic-caption';
}

@font-face {
    font-family: 'comic-light';
    src: url('../fonts/LDFComicSansLight.ttf');
}

.comic-light-font {
    font-family: 'comic-light';
}


/*  my new css */
.width-100 {
    width: 100%;
}

.landing-video {
    border: 10px solid #000;
}

.badboyz {
    margin-top: -8px;
}

.our-story {
    position: relative;
}

.story-block {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 26.5%;
}

.story-image {
    width: 100%;
    padding: 3%;
    opacity: 0;
}

@keyframes story {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.origin-story {
    background: url(../images/origin_story_back.jpg) no-repeat;
    background-size: 100% 100%;
}

.origing-image {
    cursor: pointer;

}

.origin-story-title {
     width: 32%;
    /*animation-duration: 2s;
    animation-name: flash;
    animation-iteration-count: 1; */
    margin-left: 2.5%;
    opacity: 0;
}

@keyframes flash {
    from {
        transform: scale(0.1);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.comic-images-section {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 100px 0;
}

.comic-item-image {
    width: 70%;
}

.bat-boy {
    transform: scale(1.2);
    margin-left: 15%;
}

.spider-boy {
    margin-left: 60%;
}

.coming-soon {
    margin-left: -30%;
}
  
/* .slider {
    width: 750px;
    margin: 0 auto;
}

.slick-arrow {
    display: none!important;
}

.wrapper {
    padding-bottom: 40px;
}

.slick-track {
    padding-top: 53px;
    padding-bottom: 53px;
}

.slick-slide {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.slick-slide:not(.slick-current) {
    filter: brightness(1);
}

.slick-slide.slick-current {
    transform: scale(1.35);
    position: relative;
    z-index: 1;
}

.slick-slide img {
    width: 100%;
} */

.road-map {
    position: relative;
}

.roadmap-image {
    position: absolute;
    z-index: -5;
}

.roadmap-title {
    font-family: 'comic';
    font-weight: 600;
    font-size: 2vw;
}

.roadmap-content {
    font-family: 'comic-light';
    font-weight: 900;
    font-size: 1.3vw;
}

.percent25-text {
    position: absolute;
    width: 25%;
    top: 18.5%;
    left: 14%;
}

.percent50-text {
    position: absolute;
    width: 25%;
    top: 37%;
    right: 13%;
}

.percent75-text {
    position: absolute;
    width: 25%;
    top: 55%;
    left: 14%;
}

.percent100-text {
    position: absolute;
    width: 24%;
    top: 73%;
    right: 14%;
}

.fly {
    width: 10%;
    position: absolute;
    z-index: -1;
    left: 44.8%;
    top: 15px;
}

.fixed {
    position: fixed;
    top: 40%;
    /* left: 44.8%; */
}

.wham {
    position: absolute;
    left: 43%;
    top: 28%;
    width: 14%;
    z-index: -10;
}

.bang {
    position: absolute;
    left: 43%;
    top: 46%;
    width: 14%;
    z-index: -10;
}

.pow {
    position: absolute;
    left: 43%;
    top: 66%;
    width: 14%;
    z-index: -10;
}

.kaboom {
    position: absolute;
    left: 42.5%;
    top: 84%;
    width: 14%;
    z-index: -10;
}

.join-us {
    margin-top: -1px;
    position: relative;
}

.join-us-text {
    width: 31%;
    position: absolute;
    top: 38.5%;
    right: 9.2%;
    font-size: 1.8vw;
    font-weight: 600;
}

.join-us-text-block {
    padding: 2%;
    background-color: #fff;
    border: 4px solid #000;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #f1f1f1;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #333;
    font-weight:bolder;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animate {
    margin-top: 5%;
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.our-team {
    position: relative;
    /* background: url(../images/Our-Team.png) no-repeat;
    background-size: 100% 100%; */
}

.our-team-content {
    position: absolute;
    top: 18.5%;
    padding: 5% 6%;
}

.member {
    width: 32%;
    border: 5px solid #000;
    border-radius: 5px;
}

.co-founder1 {
    margin-left: 32%;
}

.co-founder2 {
    margin-right: 32%;
}

.member-second-row {
    width: 48%;
}

.team-caption {
    font-family: 'comic-caption';
    font-size: 1.7vw;
}

.team-block {
    display: flex;
    justify-content: center;
}

.founder {
    position: absolute;
    top: 34%;
    left: 8.5%;
}

.developer {
    position: absolute;
    top: 34%;
    left: 37.2%;
}

.designer {
    position: absolute;
    top: 34%;
    right: 8.5%;
}


.faq-section {
    position: relative;
}

.row {
    margin: 0!important;
}

.section-qa {
    padding: 80px 80px 0 80px;
    margin-top: -46%!important;
}

.footer_round {
    border: 6px solid #161616;
    padding: 5px 10px 0 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #fff;
}

.footer-font {
    color: #000;
    font-size: 1.6vw;
    font-weight: 700;
}

.panel p {
    font-size: 1.3vw;
} 

.accordion {
    cursor: pointer;
}

.footer-section {
    margin-top: 11%;
}

/* 
.accordion-container {
    border: #000 6px solid;
    border-radius: 10px;
}

.accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion:after {
    content: '';
    width: 3vw;
    height: 3vw;
    background-size: cover;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #fff;
}

.accordion.active {
    outline: none;
}

button:focus {
    outline: none;
}


/* main  ENd */
@media screen and (max-width: 1300px){
    .footer-section {
        margin-top: 6.5%;
    }
}

@media screen and (max-width: 1120px){
    .footer-section {
        margin-top: 15%;
    }

    .section-qa {
        margin-top: -48%!important;
    }
    
    .footer_round {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1120px){
    .section-qa {
        margin-top: -49%!important;
    }

    .footer-font {
        font-size: 1.5vw;
    }
    
    .footer_round {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1030px){
    .footer-section {
        margin-top: 11%;
    }
}

@media screen and (max-width: 900px){
    .comic-images-section {
        padding: 40px 0 60px 0;
    }
    .section-qa {
        margin-top: -52%!important;
    }

    .footer-font {
        font-size: 1.4vw;
    }

    .panel p {
        font-size: 1.1vw;
    }
    
    .footer_round {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px){
    .comic-images-section {
        padding: 40px 0 60px 0;
    }
    .section-qa {
        margin-top: -52%!important;
    }

    .footer-font {
        font-size: 1.4vw;
    }

    .panel p {
        font-size: 1.3vw;
    }
    
    .footer_round {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px){
    .footer-back {
        display: none;
    }
    .faq-section {
        background: url(../images/faq.jpg) no-repeat;
        background-size: 100% 100%;
    }
    .footer-font {
        font-size: 2vw;
    }
    .panel p {
        font-size: 1.6vw;
    }
    .section-qa {
        margin-top: 0!important;
        padding-top: 25%!important;
        padding-bottom: 5%;
    }
    .footer-section {
        margin-top: -2%;
    }
}

@media screen and (max-width: 680px){
    /* .percent75-text {
        top: 53.8%;
    }
    .percent100-text {
        top: 71.2%;
    } */
    .section-qa {
        padding-top: 28%!important;
    }
    .footer-font {
        font-size: 3vw;
    }
    .panel p {
        font-size: 2.5vw;
    }
}

@media(max-width: 576px) {
    .section-qa {
        padding-top: 33%!important;
        padding: 50px 50px 0 50px;
    }
    
    /* .fly {
        left: 43%;
    } */
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    h4 {
        font-size: 6vw;
    }
    .section-qa .title h2 {
        font-size: 6.3vw;
    }
    .accordion:after {
        content: '';
        width: 6vw;
        height: 5vw;
        background-size: cover;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
}

@media screen and (max-width: 570px){
    .percent25-text {
        top: 17.1%;
        left: 15%;
    }
    .percent50-text {
        top: 36.2%;
    }
    .percent75-text {
        top: 54%;
    }
    .percent100-text {
        top: 72.5%;
    }
    .comic-images-section {
        padding: 20px 0 40px 0;
    }
}

@media screen and (max-width: 460px){
    .section-qa {
        padding-top: 40%!important;
    }
    .percent25-text {
        top: 17.5%;
    }
    .percent50-text {
        top: 35.5%;
    }
    .percent75-text {
        top: 53.5%;
    }
    .percent100-text {
        top: 71.5%;
    }
}