
@font-face {
    font-family: 'megrimfont';
    src: url('../fonts/Act_Of_Rejection.ttf');
}

.megrim-font {
    font-family: 'megrimfont';
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/static/Rubik-Bold.ttf');
}

.rubik-font {
    font-family: 'Rubik';
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/static/Rubik-Bold.ttf');
}

.rubik-font {
    font-family: 'Rubik';
}

@font-face {
    font-family: 'comic';
    src: url('../fonts/LDFComicSans.ttf');
}

.comic-font {
    font-family: 'comic';
}

@font-face {
    font-family: 'comic-caption';
    src: url('../fonts/Comic_Book.ttf');
}

.comic-font-caption {
    font-family: 'comic-caption';
}

@font-face {
    font-family: 'comic-light';
    src: url('../fonts/LDFComicSansLight.ttf');
}

body {
    background-color: #000;
}

.no-display {
    display: none;
}

.comic-light-font {
    font-family: 'comic-light';
}

.badboyz-mobile, .our-story-back-mobile, .roadmap-image-mobile, .roadmap-front-image-mobile,
.our-team-back-mobile, .join-us-img-mobile, .footer-back-mobile, .story-block-mobile {
    display: none;
}

.gallery-item {
    border: 6px solid #000;
}

.gallery-controls button {
    font-size: 20px;
}

.gallery-container {
    height: 30vw;
}

.gallery-controls-add {
    display: none;
}

.gallery-controls-previous::before {
    top: 10px;
}

.gallery-controls-next::before { 
    top: 56%;
}

.gallery-item-3 {
    width: 25vw;
    height: 25vw;
}

.gallery-item-2 {
    left: 33%;
}

.gallery-item-2, .gallery-item-4 {
    width: 16vw;
    height: 16vw;
}

.gallery-item-4 {
    left: 67%;
}

.gallery-item-1 {
    left: 20%;
}

.gallery-item-1, .gallery-item-5 {
    width: 12vw;
    height: 12vw;
}

.gallery-item-5 {
    left: 80%;
}

.gallery-container {
    max-width: none;
}

/* PRELOADER */
.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    overflow: hidden;
    transition-delay: 0.6s;
  }
  .preloader * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  .preloader .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fffdff;
    transition-delay: 0.3s;
  }
  .preloader .inner {
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0 auto;
  }
  .preloader .inner span {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }
  .preloader .inner figure {
    display: block;
    margin-bottom: 20px;
    transition-delay: 0.1s;
  }
  .preloader .inner figure img {
    height: 80px;
    transform: translateX(-7px);
  }
  
  /* PAGE LOADED */
  .page-loaded .preloader {
    left: -100%;
  }
  
  .page-loaded .preloader .inner figure {
    opacity: 0;
    transform: scale(1.5);
  }
  
  .page-loaded .preloader .inner span {
    transform: translateY(20px);
    opacity: 0;
  }
  
  .page-loaded .preloader .layer {
    left: -100%;
  }

.navbar {
    width: 100%;
    background-color: #071019a9;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

.social-links {
    float: right;
}

.footer-logo-section {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #071019;
    position: absolute;
    top: 300%;
}

.footer-logo-image {
    width: 170px!important;
    margin-left: 45%;
}

.social-text {
    line-height: 2.2;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
}

.social-item {
    font-size: 24px;
    margin-right: 10px;
    float: right;
    color: #fff;
}

.logo-image {
    width: 150px;
}

/*  my new css */
.width-100 {
    width: 100%;
}

.connect-button {
    position: absolute;
    top: 120px;
    right: 20px;
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #000!important;
    color: #fff!important;
}

.mint-btn {
    background-color: #000!important;
    color: #fff!important;
    position: absolute;
    font-size: 28px;
    border-radius: 50px;
    padding: 10px 30px;
    top: 60%;
    left: 45%;
}

.youtube-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 58%;
}

.landing-video {
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 99%!important;
    border: 10px solid #000;
    background-color: #000;
}

.badboyz {
    margin-top: -8px;
}

.our-story {
    position: relative;
}

.story-block {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 26.5%;
}

.story-image {
    width: 100%;
    padding: 3%;
    opacity: 0;
}

@keyframes story {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.origin-story {
    background: url(../images/origin_story_back.jpg) no-repeat;
    background-size: 100% 100%;
}

.origing-image {
    cursor: pointer;

}

.origin-story-title {
    width: 32%;
    opacity: 0;
}

@keyframes flash {
    from {
        transform: scale(0.1);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.comic-images-section {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 100px 0;
}

.comic-item-image {
    width: 70%;
}

.bat-boy {
    transform: scale(1.2);
    margin-left: 15%;
}

.spider-boy {
    margin-left: 60%;
}

.coming-soon {
    margin-left: -30%;
}

.road-map {
    position: relative;
}

.roadmap-image {
    position: absolute;
    z-index: -5;
}

.roadmap-image-mobile {
    position: absolute;
    z-index: -5;
}

.roadmap-title {
    font-family: 'comic';
    font-weight: 600;
    font-size: 2vw;
}

.roadmap-content {
    font-family: 'comic-light';
    font-weight: 900;
    font-size: 1.3vw;
}

.percent25-text {
    position: absolute;
    width: 25%;
    top: 18.5%;
    left: 14%;
}

.percent50-text {
    position: absolute;
    width: 25%;
    top: 37%;
    right: 13%;
}

.percent75-text {
    position: absolute;
    width: 25%;
    top: 55%;
    left: 14%;
}

.percent100-text {
    position: absolute;
    width: 24%;
    top: 73%;
    right: 14%;
}

.fly {
    width: 10%;
    position: absolute;
    z-index: -1;
    left: 44.8%;
    top: 15px;
    display: none;
}

.fixed {
    position: fixed;
    top: 40%;
    /* left: 44.8%; */
}

.wham {
    position: absolute;
    left: 43%;
    top: 28%;
    width: 14%;
    z-index: -10;
}

.bang {
    position: absolute;
    left: 43%;
    top: 46%;
    width: 14%;
    z-index: -10;
}

.pow {
    position: absolute;
    left: 43%;
    top: 66%;
    width: 14%;
    z-index: -10;
}

.kaboom {
    position: absolute;
    left: 42.5%;
    top: 84%;
    width: 14%;
    z-index: -10;
}

.join-us {
    margin-top: -1px;
    position: relative;
}

.join-us-text {
    width: 31%;
    position: absolute;
    top: 38.5%;
    right: 9.2%;
    font-size: 1.8vw;
    font-weight: 600;
}

.join-us-text-block {
    padding: 2%;
    background-color: #fff;
    border: 4px solid #000;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #f1f1f1;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #333;
    font-weight:bolder;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animate {
    margin-top: 5%;
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.our-team {
    position: relative;
    /* background: url(../images/Our-Team.png) no-repeat;
    background-size: 100% 100%; */
}

.our-team-content {
    position: absolute;
    top: 18.5%;
    padding: 5% 6%;
}

.member {
    width: 32%;
    border: 5px solid #000;
    border-radius: 5px;
}

.co-founder1 {
    margin-left: 32%;
}

.co-founder2 {
    margin-right: 32%;
}

.member-second-row {
    width: 48%;
}

.team-caption {
    font-family: 'comic-caption';
    font-size: 1.7vw;
}

.team-block {
    position: absolute;
    top: 27%;
}

.founder {
    position: absolute;
    top: 34%;
    left: 8.5%;
}

.developer {
    position: absolute;
    top: 34%;
    left: 37.2%;
}

.designer {
    position: absolute;
    top: 34%;
    right: 8.5%;
}


.faq-section {
    position: relative;
}

.row {
    margin: 0!important;
}

.section-qa {
    padding: 50px 60px 0 50px;
    margin-top: -45%!important;
}

.footer_round {
    border: 6px solid #161616;
    padding: 5px 10px 0 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #fff;
}
.footer-img {
    position: absolute;
    top: 200%;
    left: 0;
    z-index: -1;
}

.footer-font {
    color: #000;
    font-size: 1.8vw;
    font-weight: 700;
}

.panel p {
    font-size: 1.5vw;
} 

.accordion {
    cursor: pointer;
}

.footer-section {
    margin-top: 11%;
}

@media screen and (min-width: 1300px){
    .section-qa {
        margin-top: -44%!important;
        padding: 60px 100px 0 100px;
    }
}


/* main  ENd */
@media screen and (max-width: 1300px){
    .footer-section {
        margin-top: 6.5%;
    }
    
}

@media screen and (max-width: 1120px){
    .footer-section {
        margin-top: 15%;
    }

    .footer_round {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 1030px){
    .footer-section {
        margin-top: 11%;
    }
}

@media screen and (max-width: 900px){
    .comic-images-section {
        padding: 40px 0 60px 0;
    }
    .section-qa {
        margin-top: -48%!important;
    }
    
    .footer_round {
        margin-bottom: 10px;
    }
    
    .footer_round {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 830px){
    .section-qa {
        margin-top: -48%!important;
    }
}

@media screen and (max-width: 768px){
    .badboyz, .our-story-back, .roadmap-image, .roadmap-front-image,
    .join-us-img, .our-team-back, .footer-back {
        display: none;
    }
    .gallery-container {
        height: 92vw;
    }
    .gallery-item-2, .gallery-item-4 {
        width: 48vw;
        height: 48vw;
    }
    .gallery-item-3 {
        width: 70vw;
        height: 70vw;
    }
    .gallery-item-1, .gallery-item-5 {
        width: 35vw;
        height: 35vw;
    }
    .badboyz-mobile, .our-story-back-mobile, .roadmap-image-mobile, .roadmap-front-image-mobile,
    .our-team-back-mobile, .join-us-img-mobile, .footer-back-mobile {
        display: block;
    }
    .footer-logo-section {
        top: 199%;
    }
    .footer-logo-image {
        margin-left: 0;
    }
    .social-text {
        display: none;
    }
    .roadmap-image-mobile {
        position: absolute;
        z-index: -5;
    }
    .badboy {
        position: relative;
    }
    .landing-video {
        position: absolute;
        width: 80%!important;
        left: 10%!important;
        top: 55%!important;
        background-color: #000;
        height: 80%!important;
        border: 6px solid #000;
    }
    .mobile-youtube-block {
        width: 100%;
        position: absolute;
        top: 10%;
    }
    .youtube-container{
        position: relative;
    }
    .team-block {
        top: 20%;
    }
    .team-caption {
        font-size: 2.5vw;
    }
    .member {
        width: 80%;
    }

    .center-member {
        width: 40%;
    }
    
    .co-founder1 {
        margin-left: 12%;
    }
    
    .co-founder2 {
        margin-right: 12%;
    }
    .badboyz-mobile {
        margin-top: -10px;
    }
    
    .comic-item-image {
        width: 100%;
    }
    
    .bat-boy {
        transform: scale(1.2);
        margin-left: 15%;
    }
    .developer {
        width: 100%;
    }
    .spider-boy {
        margin-top: -100%;
        width: 120%;
        margin-left: 20%;
    }

    .coming-soon {
        margin-top: -100%;
        width: 120%;
        margin-left: -40%;
    }

    .bat-boy {
        margin-left: -28%;
        margin-top: 60%;
        width: 160%;
    }
   
    .origin-story-title {
        width: 100%;
        opacity: 0;
    }
    .roadmap-title {
        font-size: 4vw;
    }
    .roadmap-content {
        font-size: 3vw;
    }
    .comic-images-section {
        padding: 20px 0 140px 0;
    }
    .origin-story {
        background: url(../images/mobile/originstory.jpg) no-repeat;
        background-size: 100% 100%;
    }
    .percent25-text {
        top: 17%;
        width: 56%;
        left: 30%;
    }
    .percent50-text {
        top: 38.5%;
        width: 56%;
        left: 30%;
    }
    .percent75-text {
        top: 60%;
        width: 56%;
        left: 30%;
    }
    .percent100-text {
        top: 81.5%;
        width: 56%;
        left: 30%;
    }
    .join-us-text {
        width: 75%;
        top: 66%;
        font-size: 3.5vw;
        right: 12.5%;
    }
    .join-us-text-block {
        padding: 2%;
        background-color: transparent;
        border: none!important;
    }
    .fly {
        width: 15%;
        left: 2%;
    }
    .wham {
        left: 1%;
        width: 20%;
        top: 25%;
    }
    .bang {
        left: 1%;
        width: 25%;
        top: 46%;
    }
    .pow {
        left: 1%;
        width: 22%;
        top: 69%;
    }
    .kaboom {
        left: 1%;
        width: 22%;
        top: 89.8%;
    }
  
    .section-qa {
        padding-top: 20%!important;
        padding-bottom: 5%;
        margin-top: -120%!important;
    }
    .footer_round {
        margin-bottom: 20px!important;
    }
    .special-footer-round {
        margin-top: 0!important;
    }
    .footer-img {
        top: 168%;
        z-index: -1;
    }
    .footer-back {
        display: none;
    }
    
    .footer-font {
        font-size: 3vw!important;
    }
    .panel p {
        font-size: 2.5vw!important;
    }
    .footer-section {
        margin-top: -2%;
    }
    .story-block  {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (min-width: 768px) {
    .story-item {
        flex: 0 0 auto;
        width: 33.333333%!important;
    }
}

@media screen and (max-width: 680px){
    .section-qa {
        padding: 5px 25px 0 25px;
        padding-top: 17%!important;
    }
    .footer-font {
        font-size: 3vw;
    }
    .panel p {
        font-size: 2.5vw;
    }
}

@media(max-width: 576px) {
    .team-item {
        width: 50%!important;
    }
    .section-qa {
        padding-top: 18%!important;
    }
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    h4 {
        font-size: 6vw;
    }
    .section-qa .title h2 {
        font-size: 6.3vw;
    }
    .accordion:after {
        content: '';
        width: 6vw;
        height: 5vw;
        background-size: cover;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
}

@media (min-width: 100px) {
    .story-item {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (max-width: 570px){
    .comic-images-section {
        padding: 20px 0 100px 0;
    }
}

@media screen and (max-width: 518px){
    .footer_round {
        margin-bottom: 0px!important;
    }
}

@media screen and (max-width: 480px){
    .section-qa {
        padding-top: 12%!important;
    }
}

