@font-face {
    font-family: 'megrimfont';
    src: url('../fonts/Act_Of_Rejection.ttf');
}

.megrim-font {
    font-family: 'megrimfont';
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: 'headlinefont';
    src: url('../fonts/ATLANTISBOLD.TTF');
}

.headline-font {
    font-family: 'headlinefont'!important;
}

.rubik-font {
    font-family: 'Rubik';
}

/*  my new css */
body {

}

.width-100 {
    width: 100%;
}